@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lobster');

@import url("player.css");

/* Body Styling */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #080808 url(../img/bck.png); /* Black background */
    background-size: 200px 200px;
    color: #b0b8ba;
    font-family: 'IBM Plex Mono', monospace;
    padding: 40px;
}

/* Main Container */
.container {
    width: 80%;  /* Reduced width for smaller screens */
    max-width: 550px;
    padding: 35px 50px 0 50px;
    background: rgba(0, 0, 0, 0.9) url(../img/cbck.png) top center no-repeat;
    text-align: center;
    border: 1px dotted #022070;
    outline: 10px solid #000;      /* Outer border */
    outline-offset: 0;            /* Position the outline closer */           /* Position the outline closer */
    position: relative;
    border-radius: 12px;
    box-shadow: 0 0 50px 11px #000000;
}

/* Header Styling */
header h1 {
    color: #9af369;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

/* Menu Styling */
.menu {
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  /* Allows items to wrap on smaller screens */
    color: #262f5c; /* Bright green color typical of terminal text */
}

.menu li::before {
    content: none;
}

.menu li a {
    padding-right: 10px;
    font-size: 14px;
    font-weight: 100;
    color: #8c7dff;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.25s; /* Transition for hover effect */
    text-shadow: 0 0 1px #8c7dff; /* Optional hover glow effect */
}

.menu a:hover {
    color: #9af369; /* Change color on hover */
    text-shadow: 0 0 2px #9af369; /* Optional hover glow effect */
}

/* Collapsible Search Box */
.search-box {
    display: block;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    margin-bottom: 50px;
}

.search-box.show {
    opacity: 1;
    max-height: 100px;
}

.search-box form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    max-width: 300px;
}

.search-box input[type="text"] {
  padding: 5px;
  font-size: 14px;
  font-weight: 100;
  width: 150px;
  color: #477aff;
}

.search-box input[type="submit"] {
  padding: 5px;
  font-size: 14px;
  font-weight: 100;
  width: 60px;
  margin-left: 4px;
  cursor: pointer;
  color: #477aff;
  text-shadow: 0 0 2px #477aff90;
}

.post {
    font-size: 14px;
    text-align: left;
    margin-bottom: 100px;
}

.post img {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    border-radius: 9px;
    opacity: 0.7;
}

.avatar {
    background: transparent url(../img/avatar.jpeg) center center;
    background-size: cover;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.9;
}

.avatar:hover {
    width: 45px;
    height: 45px;
    transition: all 0.5s ease;
}

/*.post:not(:last-child) {
    border-bottom: none;
}*/

.date {
    color: #8c7dff;
    font-size: 12px;
    margin: 0 0 20px 49px;
    border-bottom: 1px dotted #262f5c;
}

a {
    color: #9af369;
    text-decoration: none;
}

/* Style for outgoing links */
a[href^="http"]:not([href*="yourdomain.com"])::after {
    content: "⤴"; /* Up arrow symbol */
    font-size: 0.9em;
    color: #8c7dff;
    margin: 0;
    padding: 0;
}

a:hover {
    color: #8c7dff;
}

h2 {
    color: #9af369; 
}

h3 {
    color: #8c7dff;
}

.post h2 {
    font-size: 19px;
}

.post h3 {
    margin: 0; padding: 0;
    color: #9af369; 
    margin-left: 49px;
}

ul {
    padding-left: 10px;
}

li {
    color: #8c7dff;
    list-style: none;
}

li::marker {
    color: #9af369; /* Bullet color */
}

li::before {
    content: "➔"; /* Use any Unicode arrow symbol */
    color: #9af369; /* Arrow color */
    font-size: 1.2em; /* Adjust size if needed */
    margin-right: 4px;
}


hr {
    background: transparent;
    border: 0;
    border-bottom: 1px dotted #8c7dff77;
}

blockquote {
    background: #01154a20;
    color: #65b2ff;
    font-style: italic;
    border: 1px solid #01154a99;
	border-radius: 8px;
	margin: 30px 20px 0 20px;
	min-height: 90px;
	position: relative;
	padding: 20px;
    line-height: 1.3;
	h2 {
        background: linear-gradient(to bottom, #000, #000410);
        color: #65b2ff;
		font-family: 'Lobster', cursive;
		font-weight: normal;
        font-style: normal;
		display: inline-block;
		margin: 0;
		position: absolute;
		top: -14px;
        border-radius: 8px;
        letter-spacing: 0.5px;
	}
}

pre {
    font-size: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0.0);
    color: #262f5c;
}

code {
    background-color: transparent !important;
}

/* Form elements styling */
textarea, select, input {
    width: 100%; /* Full width of the parent .post container */
    padding: 10px;
    background-color: #01154a20;
    color: #ccc;
    border: 1px solid #01154a99;
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
    resize: vertical; /* Enables only vertical resizing */
}

button {
    padding: 10px 20px;
    background: #01154a !important; /* Blue to teal gradient */
    color: #e3f6ff; /* Light, complementary font color */
    font-weight: 100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover effect with a brighter inner glow */
button:hover {
    background: #01154a !important; /* Blue to teal gradient */
    color: #ffffff !important;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Active effect for pressed look */
button:active {
    transform: translateY(1px); /* Slight press down effect */
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6);
}

label {
    text-decoration: none;
    color: #477aff;
    font-size: 13px;
    font-weight: 100;
    text-shadow: 0 0 2px #477aff90;
}

/* Pagination */
.pagination {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

.pagination a,
.pagination span {
    font-size: 11px;
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    color: #65b2ff; /* Light Gray for Pagination */
    text-decoration: none;
    background-color: #01154a20; /* Cyan for Pagination */
    border-radius: 4px;
    border: 1px solid #01154a99;
}

.pagination a:hover {
    background-color: #01154a50; /* Warm Gold on Hover */
}

.pagination .current-page {
    background-color: #01154a50; /* Warm Gold for Current Page */
}

/* Footer */
footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: #01154a;
    text-align: center;
    text-shadow: 0 0 3px #01154a60;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

