@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Body Styling */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #080808 url(../img/bck.png); /* Black background */
    background-size: 200px 200px;
    color: #b0b8ba;
    font-family: 'IBM Plex Mono', monospace;
    padding: 50px 0;
}

/* Main Container */
.container {
    width: 80%;  /* Reduced width for smaller screens */
    max-width: 600px;
    padding: 35px 50px;
    background: rgba(0, 0, 0, 0.9) url(../img/cbck.png) top center no-repeat;
    text-align: center;
    border: 1px solid #00248050;
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(0px);
    box-shadow: 1px 1px 50px #001d6450;
}

/* Header Styling */
header h1 {
    color: #9af369;
    font-weight: 100;
    margin: 0;
}

/* Menu Styling */
.menu {
    margin: 0;
    padding: 0;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  /* Allows items to wrap on smaller screens */
    color: #262f5c; /* Bright green color typical of terminal text */
}

.menu a {
    padding: 6px;
    font-size: 14px;
    font-weight: 100;
    color: #8c7dff;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.25s; /* Transition for hover effect */
    text-shadow: 0 0 1px #8c7dff; /* Optional hover glow effect */
}

.menu a:hover {
    font-weight: 100;
    color: #9af369; /* Change color on hover */
    text-shadow: 0 0 2px #9af369; /* Optional hover glow effect */
}

/* Collapsible Search Box */
.search-box {
    display: block;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.search-box.show {
    opacity: 1;
    max-height: 100px;
}

.search-box form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    max-width: 300px;
}

.search-box input[type="text"] {
  padding: 5px;
  font-size: 14px;
  font-weight: 100;
  background: #00000080;
  width: 150px;
  color: #9af369;
  border: 1px dotted #262f5c;
}

.search-box input[type="submit"] {
  padding: 5px;
  font-size: 14px;
  font-weight: 100;
  background: #00000080;
  width: 60px;
  margin-left: 4px;
  color: #8c7dff;
  cursor: pointer;
  border: 1px dotted #262f5c;
}

.post {
    font-size: 15px;
    margin: 30px 0 0 0;
    border-bottom: 0px dotted #1862ad;
    text-align: left;
    position: relative; /* Make the post position relative for absolute positioning of the square */
}

.post img {
    width: 100%;
    border-radius: 9px;
    opacity: 0.5;
}

/* Separator after each post */
.post::after {
    content: "➳➳➳➳ ◈ ➳➳➳➳";
    display: block;
    text-align: center;
    font-family: monospace;
    font-size: 1.2em;
    color: #262f5c;
    margin-top: 40px;
}

/* Hide separator on the last post */
.last-post::after {
    display: none;
}

.avatar {
    background: transparent url(../img/avatar.jpeg) center center;
    background-size: cover;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*.post:not(:last-child) {
    border-bottom: none;
}*/

.date {
    color: #8c7dff;
    font-size: 12px;
    margin: 0 0 20px 49px;
    border-bottom: 1px dotted #262f5c;
}

a {
    color: #9af369;
    text-decoration: none;
}

a:hover {
    color: #8c7dff;
}

h2 {
    color: #9af369; 
}

h3 {
    color: #8c7dff;
}

.post h2 {
    font-size: 19px;
}

.post h3 {
    margin: 0; padding: 0;
    color: #9af369; 
    margin-left: 49px;
}

ul, li {
    margin: 0;
}


hr {
    background: transparent;
    border: 0;
    border-bottom: 1px dotted #8c7dff77;
}

blockquote {
  color: #65b2ff; /* Neon cyan text */
  border-left: 1px dotted #8c7dff77;
  padding: 0 20px;
  font-size: 0.9em;
  line-height: 1.6;
  letter-spacing: 0.5px;
  overflow: hidden;
  font-style: italic;
}

pre {
    font-size: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0.5) url(../img/cbck.png) top center no-repeat;
    color: #262f5c;
}

code {
    background-color: transparent !important;
}

textarea, select, input {
    width: 100%;
    padding: 10px;
    background-color: #1862ad08;
    color: #ccc;
    border: 1px solid #1862ad40;
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
}

label {
    text-decoration: none;
    color: #8c7dff;
    font-size: 13px;
    font-weight: 100;
    text-shadow: 0 0 2px #8c7dff;
}

button {
    font-size: 12px;
    padding: 8px 18px;
    border: 0;
    background: #1862ad70;
    color: #ffffff80;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    text-transform: uppercase;
    border-top: 1px solid #ffffff07;
}

button:hover {
    color: #ffffff90;
    background: #272139;

}

/* Pagination */
.pagination {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0px dotted #1862ad;
}

.pagination a,
.pagination span {
    font-size: 11px;
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    color: #ffffff70; /* Light Gray for Pagination */
    text-decoration: none;
    background-color: #8c7dff20; /* Cyan for Pagination */
    border-radius: 4px;

}

.pagination a:hover {
    background-color: #8c7dff50; /* Warm Gold on Hover */
}

.pagination .current-page {
    background-color: #8c7dff50; /* Warm Gold for Current Page */
}

/* Footer */
footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    font-weight: 100;
    color: #262f5c;
    text-align: center;
    text-shadow: 0 0 2px #262f5c;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 1.5rem;
    }

    .menu ul {
        gap: 1rem;
    }

    .search-box input[type="text"] {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .search-icon {
        font-size: 1rem;
    }

    main, footer {
        font-size: 0.9rem;
    }

    .menu ul {
        flex-direction: column;  /* Stack menu items on top of each other */
        align-items: center;
    }

    .container {
        padding: 1rem;
    }
}


#header {

}
.letter {
    transition: color 0.3s ease;
}

